//
//  dev.xcconfig
//  config-demo
//
//  Created by Wednesday on 24/06/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = ink.thefeather.chicago.dev
BUNDLE_DISPLAY_NAME = The Feather Dev
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Dev
BASE_URL = thefeather.ink
